*{
	box-sizing: border-box;
	background: #f2f2f2;
}
.welcome {
  text-align: center;
    padding: 10px;
    margin: 15px;
}
.box 
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 40px;
  border: 4px solid #dcdcdc;
}
button
{
  text-align: center;
}
form
{
  text-align: center;
}